.modal_block {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 60%;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;;
  justify-content: center;
  flex-direction: column;
}
.active {
  z-index: 11;
  opacity: 1;
  transition: 0.5s all ease;
}
.inactive {
  z-index: -1;
  opacity: 0;
  transition: 0.5s all ease;
}
.modal {
  background: rgb(221, 234, 252);
  background: linear-gradient(180deg, rgba(221, 234, 252, 1) 50%, rgba(252, 252, 255, 1) 100%);
  border-radius: 20px;
  width: 90%;
  padding: 0 6% 6% 6%;
  margin-top: 4%;
}
.space {
  width: 100%;
  height: 40px;
}
.title {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  text-align: left;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0 0 18px 0;
  color: #252525;
}
.text {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #252525;
}
.btn_back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: 55px;
  background-color: transparent;
  border: none;
  font-family: 'Monaco';
  font-size: 24px;
  font-style: normal;
  z-index: 40;
  text-align: center;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #252525;
  text-align: center;
  background: linear-gradient(180deg, #DDEAFC 0%, #FCFCFF 100%);
  box-shadow: 0px 4px 30px rgba(118, 167, 247, 0.63);
  border-radius: 30px;
}
.btn_back_ios {
  padding-top: 7px;
}
.btn_down {
  position: absolute;
  bottom: -60px;
  right: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #DDEAFC 0%, #FCFCFF 100%);
  box-shadow: 0px 4px 30px rgba(118, 167, 247, 0.63);
  border-radius: 30px;
}
.triangle_down {
  width: 0;
  height: 0;
  border-top: 15px solid #252525;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}
.button_block {
  margin: 30px 0 15px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  box-sizing: border-box;
  margin-right: 15px;
  border-radius: 35px;
  background: linear-gradient(180deg, rgba(221,234,252,1) 50%, rgba(252,252,255,1) 100%);
  border: 2px solid #313154;
  color: #252525;
  font-family: 'Monaco';
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
@media screen and (max-width: 930px) {
  .modal_block {
    left: 55%;
  }
  .btn_back {
    font-size: 10px;
    height: 25px;
  }
  .modal {
    border-radius: 10px;
    padding: 0 6% 6% 6%;
  }
  .space {
    width: 100%;
    height: 20px;
  }
  .title {
    font-size: 26px;
    margin: 0 0 10px 0;
    font-weight: 500;
  }
  .text {
    font-size: 8px;
    line-height: 10px;
  }
  .button_block {
    margin: 10px 0 5px 0;
  }
  .button {
    height: 25px;
    margin-right: 5px;
    border-radius: 35px;
    font-size: 7px;
    border-width: 1px;
  }
}