.modal_block {
  position: fixed;
  z-index: -1;
  bottom: 150px;
  right: 126px;
}

.active {
  z-index: 11;
  opacity: 1;
  transition: 0.5s all ease;
}

.inactive {
  z-index: -1;
  opacity: 0;
  transition: 0.5s all ease;
}

.modal {
  background: #06090F;
  border: 2px solid #FFFFFF;
  border-radius: 100px;
  position: relative;
  min-height: 200px;
  max-width: 830px;
  padding: 55px 60px;
}

.title {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 80px;
  text-align: left;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 18px;
  color: #FFFFFF;
}

.text {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;

  color: #FFFFFF;
}

.btn_back {
  position: absolute;
  top: -100px;
  font-family: 'Monaco';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  z-index: 40;
  text-align: center;
  text-transform: uppercase;

  cursor: pointer;
  color: #252525;
  display: inline;
  padding: 15px 107px;
  text-align: center;
  background: linear-gradient(180deg, #DDEAFC 0%, #FCFCFF 100%);
  box-shadow: 0px 4px 30px rgba(118, 167, 247, 0.63);
  border-radius: 30px;
}

.btn_down {
  position: absolute;
  bottom: -60px;
  right: 0;

  width: 40px;
  height: 40px;

  cursor: pointer;
  color: #252525;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(180deg, #DDEAFC 0%, #FCFCFF 100%);
  box-shadow: 0px 4px 30px rgba(118, 167, 247, 0.63);
  border-radius: 30px;
}

.triangle_down {
  width: 0;
  height: 0;
  border-top: 15px solid #252525;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}

@media screen and (max-width: 980px) {
  .modal_block {
    right: 10px;
  }

  .title {

    font-size: 40px;
    line-height: 40px;
  }

  .text {
    font-size: 18px;
    line-height: 23px;
  }

}

@media screen and (max-width: 580px) {
  .modal_block {
    bottom: 80px;
  }

  .modal {
    height: 70vh;
    padding: 25px 20px;
    display: inline-block;
    overflow-y: hidden;
    border-radius: 30px;
  }

  .btn_down {
    bottom: -20px;
  }

}

@media (min-width: 500px) and (max-width: 1024px) {
  .modal_block {
    bottom: 20px;
  }

  .modal {
    height: 70vh;
    padding: 25px 20px;
    display: inline-block;
    overflow-y: hidden;
    border-radius: 30px;
  }

  .btn_down {
    bottom: -20px;
  }

  .btn_back {
    top: -70px;
  }

}