.section {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  overflow: hidden;
  padding: 0 30px;
  text-align: center;
  scroll-snap-align: start;
  height: 300vh;
  scroll-margin-bottom: 15vh;
}

.section_mobile {
  height: 300vh;
}

.section_dekstop {
  height: 500vh;
}

.bg {
  position: relative;
}

.blur_right {
  overflow: hidden;
  position: absolute;
  right: 0;
  z-index: 10;
  width: 338px;
  height: 438px;
  background: #923DFF;
  filter: blur(400px);
}

.blur_left {
  position: absolute;
  left: -100px;
  z-index: 10;
  top: -180px;
  width: 438px;
  height: 438px;
  background: #3D8AFF;
  filter: blur(400px);
}

.bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  background: url('../../assets/images/section-one-stars-1.png');
  background-attachment: fixed;
}

.img {
  position: relative;
  display: block;
  max-height: 562px;
  max-width: 1812px;
  bottom: 0;
  z-index: 10;
}

.img {
  display: block;
  max-height: 562px;
  max-width: 1812px;
  bottom: 0;
  z-index: 10;
}

.img_block {
  position: relative;
  overflow: hidden;
}

.button {
  content: "";
  position: absolute;
  width: 137px;
  border-radius: 120px;
  height: 137px;
  bottom: -75px;
  z-index: 15;
  left: 0;
  right: 0;
  background: #000000;
  opacity: 0.67;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  margin-bottom: 65px;
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 88px;
  line-height: 117px;

  margin-top: 90px;
  margin-bottom: 58px;

  position: relative;
  z-index: 4;
}

.subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;

  max-width: 980px;
  margin-bottom: 36px;

  position: relative;
  z-index: 4;
}

.canvas_three {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1;
  pointer-events: none;
}