.section {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  overflow: hidden;
  padding: 0 30px;
}

.bg {
    position: relative;
}

.bg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    background: inherit;
    top: 0;
    z-index: 0;
    background: url('../../assets/images/section-one-stars-1.png')
}

.bg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  background: inherit;
  bottom: 0;
  z-index: 0;
  background: url('../../assets/images/section-one-stars-2.png')
}

.img {
  display: block;
  max-height: 562px;
  max-width: 1812px;
  bottom: 0;
  z-index: 10;
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 88px;
  line-height: 117px;

  margin-top: 90px;
  margin-bottom: 58px;
}

.subtitle {

  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  max-width: 980px;
  margin-bottom: 36px;
}
