.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: #FFFFFF;
  overflow: hidden;
  padding: 0 30px;
  text-align: center;
  height: 100vh;
  scroll-margin-bottom: 100vh;
  scroll-snap-align: start;
}
.bg {
  position: relative;
}
.blur_right {
  position: absolute;
  will-change: filter;
  right: 0;
  z-index: 0;
  width: 20%;
  height: 50%;
  background: #923DFF;
  filter: blur(400px);
  -webkit-filter: blur(400px);
}
.blur_left {
  position: absolute;
  will-change: filter;
  left: -8%;
  z-index: 0;
  top: -20%;
  width: 35%;
  height: 45%;
  background: #3D8AFF;
  filter: blur(400px);
  -webkit-filter: blur(400px);
}
.bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  background: url('../../assets/images/section-one-stars-1.png');
  background-size: 110% 50%;
  background-attachment: fixed;
}
.button {
  content: "";
  position: absolute;
  width: 137px;
  border-radius: 120px;
  height: 137px;
  bottom: -75px;
  z-index: 15;
  left: 0;
  right: 0;
  background: #000000;
  opacity: 0.67;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow {
  margin-bottom: 65px;
}
.title {
  font-style: normal;
  font-weight: 400;
  font-size: 88px;
  line-height: 117px;
  margin-top: 90px;
  margin-bottom: 58px;
  position: relative;
  z-index: 4;
}
.subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  max-width: 980px;
  margin-bottom: 36px;
  position: relative;
  z-index: 4;
}
.activeText {
  transform: translateY(0);
  transition: 0.7s all ease;
}
.inactiveText {
  transform: translateY(-1100px);
  transition: 0.7s all ease;
}
.canvas_three {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1;
  pointer-events: none;
}
.active {
  cursor: pointer;
}
.inactive {
  cursor: default;
}

@media screen and (max-width: 930px) {
  .title {
    font-size: 32px;
    padding: 15px 5px;
    line-height: 60px;
    margin: 10px 0;
  }
  .subtitle {
    line-height: 16px;
    font-size: 16px;
    max-width: 500px;
  }
}