.footer {
  padding: 25px 172px;
  margin-top: -18vh;
  z-index: 50;
  position: relative;
}

.active {
  transform: translateY(-218vh);
  transition: 0.4s all ease;
}

.inactive {
  transform: translateY(-200vh);
  transition: 0.7s all ease;
}


.title {
  font-family: 'Monaco', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 85px;
  text-align: left;
  color: #DEDEDE;
  text-transform: uppercase;
  z-index: 50;
}

.copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.05em;
  color: #C1C1C1;
  z-index: 50;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 25px 32px;
    margin-top: -20vh;
    padding-bottom: 10px;
  }
  .title {
    font-size: 44px;
    line-height: 35px;
  }
}

@media screen and (max-width: 336px) {
  .footer {
    padding: 0px 22px;
    margin-top: -16vh;
  }
}