.footer {
  padding: 25px 172px;
  scroll-snap-align: start;
  margin-top: -18vh;
  z-index: 50;
  position: relative;
}

.title {
  font-weight: 400;
  font-size: 64px;
  line-height: 85px;
  text-align: left;
  color: #DEDEDE;
  text-transform: uppercase;
  z-index: 50;
}

.copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.05em;
  color: #C1C1C1;
  z-index: 50;
}