.country {
  display: inline-block;
  width: calc(100%/6);
  cursor: pointer;
}
.img {
  height: 100vh;
  width: 100%;
}
.img_block {
  position: relative;
  z-index: 10;
  transition: 0.5s transform ease;
  will-change: transform;
}
.name {
  font-family: 'HelveticaNeueMedium', sans-serif;
  width: 100%;
  top: 49%;
  position: absolute;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 68.5714px;
  line-height: 91px;
  letter-spacing: 0.05em;
  color: #e8e3e3;
  text-transform: uppercase;
  position: absolute;
  transform: rotate(-90deg);
}
.button_content {
  position: absolute;
  width: 4vw;
  height: 4vw;
  background: url('../../../assets/images/button-content.png') no-repeat;
  background-size: contain;
  top: calc(50vh - 3vw);
  right: 0;
}
.button_content_flip {
  position: absolute;
  width: 4vw;
  height: 4vw;
  background: url('../../../assets/images/button-content.png') no-repeat;
  background-size: contain;
  top: calc(50vh - 3vw);
  right: 0;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph;
  filter: fliph;
}
@media screen and (max-width: 930px) {
  .name { 
    font-size: 30px;
    top: 40%
  }
}
