.main {
  overflow: hidden;
  height: 100vh;
  /* scroll-snap-type: y mandatory; */

  background-color: black;
}
.button-top {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 20px;
  left: calc(50% - 70px);
  background: url('../assets/images/button.png') no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 5;
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
  -ms-filter: fliph; /*IE*/
  filter: fliph; /*IE*/
}
.button-bottom {
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 70px);
  background: url('../assets/images/button.png') no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 5;
}
