* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face { 
  font-family: "Monaco";
  src: url("./assets/fonts/MonacoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}


body {
  font-family: 'Monaco', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
} */